<% layout('layouts/boilerplate') %>
<div class="container mt-3">
    <div class="row mb-4">
        <h1 class="text-center text-success">New Campground</h1>
        <div class="col-md-6 offset-md-3 border rounded mt-3">
            <form action="/campgrounds" method="POST" class="validate-form" novalidate
                enctype="multipart/form-data">

                <div class="mt-3">
                    <label for="ttl" class="form-label">Title:</label>
                    <input id="ttl" class="form-control" type="text"
                        name="campground[title]" required>
                </div>

                <div class="input-group mt-3">
                    <span class="input-group-text">Location:</span>
                    <input type="text" aria-label="City" class="form-control"
                        placeholder="City" name="campground[city]" required>
                    <input type="text" aria-label="State" class="form-control"
                        placeholder="State" name="campground[state]" required>
                </div>

                <div class="mt-3">
                    <label for="img" class="form-label">Upload images here:</label>
                    <input class="form-control" type="file" name="image" multiple>
                </div>

                <div class="mt-3">
                    <label for="prc" class="form-label">Price: </label>
                    <div class="input-group">
                        <span class="input-group-text">&#8377;</span>
                        <input type="text" id="prc" class="form-control"
                            aria-label="Price" placeholder="0.00" name="campground[price]"
                            required>
                    </div>
                </div>

                <div class="mt-3">
                    <label for="txt" class="form-label">Description:</label>
                    <textarea name="campground[description]" id="txt" class="form-control"
                        required></textarea>
                </div>
                <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-success mt-3">Submit</button>
                </div>


            </form>
            <div class="d-grid gap-2 col-3 ms-auto mt-2">
                <a href="/campgrounds" class="btn btn-sm btn-secondary my-3">Back</a>
            </div>


        </div>
    </div>
</div>